<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="todoCtrl">

	<h2> <marquee direction="right"> People10 Technosoft Private Limited </marquee>
	<img src="logo.png" alt="Mountain View" style="float:right;width:180px;height:50px;"></h2>
	<br>
	<br>

	<div>
		<ul>
		  <li><a href="0.home.html">Home</a></li>
		  <li><a href="http://www.people10.com/careers">New</a></li>
		  <li><a href="http://www.people10.com/contact">Contact</a></li>
		  <li style="float:right"><a class="active" href="http://www.people10.com/about">About</a></li>
		</ul>
	</div>

	<div>
		<ul1>
		  <li1><a href="1.form.html">Problem_statement1</a></li1>
		  <li1><a href="2.display.html">Problem_statement2</a></li1>
		  <li1><a href="3.topics.html">Problem_statement3</a></li1>
		  <li1><a href="4.todo.html">Problem_statement4</a></li1>
		  <li1><a href="5.theory.html">Problem_statement5</a></li1>
		  <li1><a href="6.database.html">Problem_statement6</a></li1>
		  <li1><a href="#Problem_statement7">Problem_statement7</a></li1>
		  <li1><a href="8.theory.html">Problem_statement8</a></li1>
		</ul1>
	</div>
	
	<div style="width:80%;height:500px;margin-left:15%;background-color: white;margin-top:4%;">
	<form ng-submit="todoAdd()" id="todo">
		<br><b>My Todo List</b><br><br>
		<input type="text" ng-model="todoInput" size="50" placeholder="Add New">
		<input type="submit" value="Add New">
	</form>

	<br>

	<div ng-repeat="x in todoList">
		<input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
	</div>

	<p><button ng-click="remove()">Remove marked</button></p>

	<script>
	var app = angular.module('myApp', []); 
	app.controller('todoCtrl', function($scope) {
		$scope.todoList = [{todoText:'Arrange study table', done:false}];

		$scope.todoAdd = function() {
			$scope.todoList.push({todoText:$scope.todoInput, done:false});
			$scope.todoInput = "";
		};

		$scope.remove = function() {
			var oldList = $scope.todoList;
			$scope.todoList = [];
			angular.forEach(oldList, function(x) {
				if (!x.done) $scope.todoList.push(x);
			});
		};
	});
	</script>

</body>
</html>

