body {
    margin: 0;
}
h2 {
    color: blue;
}
form {
  width:70%; 
  margin-left: 30%;
  height: 200px; 
  background-color: white;
  align-items: left;
}

ul1 {
    list-style-type: none;
	margin-top: 54px;
    
    padding: 0;
    width: 12%;
    background-color: #f1f1f1;
    position: fixed ;
    height: 100%;
    overflow: auto;
}

li1 a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li1 a.active {
    background-color: blue;
    color: white;
}
li1 a.visited {
    background-color: skyblue;
}


li1 a:hover:not(.active) {
    background-color: blue;
    color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	position: fixed ;
    background-color: #333;
	top: 18%;
	width: 100%;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: blue;
    
